.advantages {
  .reset ();
  line-height: 21px;
  text-align: center;
  background-color: @basic-white;
}

.advantages__title {
  .reset ();
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @basic-black;
}

.advantages__description {
  .reset ();
}
