.advantages {
  .reset ();
  line-height: 21px;
  text-align: center;
  background-color: @basic-white;
  padding-bottom: 35px;
  padding-top: 35px;
}

.advantages__item {
  width: 300px;
  margin-bottom: 26px;
  margin-right: 11px;
  padding-left: 69px;
  text-align: left;
}

.advantages__line {
  display: none;
}

.advantages__title {
  .reset ();
  font-size: 18px;
  font-weight: 700;
  color: @basic-black;
  padding-bottom: 21px;
}

.advantages__description {
  .reset ();
  line-height: 21px;
}

@media (min-width: @tablet-width) {
  .advantages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    padding: 0;
  }

  .advantages__item {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    width: auto;
  }

  .advantages__line {
    display: none;
  }

  .advantages__title {
    font-size: 21px;
  }

  .advantages__item--house {
    padding-top: 162px;
    padding-bottom: 59px;
  }

  .advantages__item--souvenir {
    padding-top: 160px;
    padding-bottom: 82px;
    order: 3;
  }

  .advantages__item--food {
    padding-top: 162px;
    padding-bottom: 59px;
    order: 2;
  }

  .advantages__description--house {
    display: inline-block;
    vertical-align: middle;
    width: 185px;
    margin: 0;
  }

  .advantages__description--souvenir {
    display: inline-block;
    vertical-align: middle;
    width: 193px;
    margin: 0;
  }

  .advantages__description--food {
    display: inline-block;
    vertical-align: middle;
    width: 151px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .advantages__description--house {
    display: inline-block;
    vertical-align: middle;
    width: 282px;
    margin: 0;
  }

  .advantages__description--souvenir {
    display: inline-block;
    vertical-align: middle;
    width: 244px;
    margin: 0;
  }

  .advantages__description--food {
    display: inline-block;
    vertical-align: middle;
    width: 303px;
    margin: 0;
  }

  .advantages__line {
    display: block;
  }
}
