.copyright {
  display: flex;
}

.copyright__text {
  color: @basic-black;
  text-align: center;
  padding-right: 10px;
  padding-left: 94px;
  padding-top: 4px;
}

.copyright__icon-logo {
  &:hover,
  &:focus {
    fill: @basic-light-blue;
  }

  &:active {
    fill: @special-logo-gray;
  }
}

@media (min-width: @tablet-width) {
  .copyright {
    padding-top: 43px;
  }

  .copyright__text {
    padding-right: 9px;
    padding-left: 10px;
    padding-top: 4px;
  }
}

@media (min-width: @desktop-width) {
  .copyright__link {
    padding-right: 54px;
  }

  .copyright__text {
    padding-right: 10px;
    padding-left: 86px;
    padding-top: 4px;
  }
}
