.form {
  margin-top: 20px;
}

.form__fieldset {
  border: none;
}

.form__title {
  .reset();
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: @basic-black;
}

.form__data,
.form__field {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: @basic-black;
  text-transform: none;
}

.form__field--font-norm {
  font-weight: 400;
}
