.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 16px;
  position: relative;
}

.form__list {
  .reset ();
  list-style: none;
}

.form__fieldset {
  border: none;
  border-bottom: 1px solid @photo-border-gray;
  padding-top: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
}

.form__fieldset:last-of-type {
  border-bottom: none;
}

.response__form {
  border-top: 1px solid @photo-border-gray;
}

.form__title {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: @basic-black;
}

.form__data {
  height: 58px;
  padding-top: 18px;
  padding-bottom: 14px;
  padding-left: 22px;
  padding-right: 7px;
  background-color: @basic-light-gray;
  border: none;
  position: relative;
  outline: none;

  &:hover {
    background-color: @photo-border-gray;
  }

  &:focus {
    background-color: @basic-white;
    border: 4px solid @photo-border-gray;
  }
}

.form__field {
  position: relative;
  cursor: pointer;
  user-select: none;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  width: 100%;
}

textarea {
  font-size: 18px;
  font-family: inherit;
  background-color: @basic-light-gray;
  outline: none;
  border: none;
  padding-top: 15px;
  padding-bottom: 29px;
  padding-left: 21px;
  padding-right: 11px;

  &:focus {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

//Чекбоксы и радио
input[type="radio"] + .form__field::before {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  left: -2px;
  top: 10px;
  transform: translateY(-50%);
  background-color: @basic-light-gray;
  border-radius: 50%;
}

input[type="radio"]:hover + .form__field::before {
  background-color: @photo-border-gray;
}

input[type="radio"]:focus + .form__field::before {
  outline: -webkit-focus-ring-color auto 1px;
}

input[type="radio"]:active + .form__field::before {
  background-color: @special-form-gray;
}

input[type="radio"]:checked + .form__field::after {
  content: "";
  width: 22px;
  height: 22px;
  left: 15px;
  top: 10px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: @basic-extra-black;
  position: absolute;
}

input[type="radio"]:active + .form__field::after {
  opacity: 0.3;
}

input[type="checkbox"] + .form__field::before {
  content: "";
  width: 56px;
  height: 56px;
  left: -4px;
  top: 10px;
  transform: translateY(-50%);
  border-radius: 6px;
  background-color: @basic-light-gray;
  position: absolute;
}

input[type="checkbox"]:hover + .form__field::before {
  background-color: @photo-border-gray;
}

input[type="checkbox"]:focus + .form__field::before {
  outline: -webkit-focus-ring-color auto 1px;
}


input[type="checkbox"]:active + .form__field::before {
  background-color: @special-form-gray;
}

input[type="checkbox"]:checked + .form__field::after {
  content: "";
  width: 21px;
  height: 13px;
  left: 15px;
  top: -1px;
  transform: rotate(-45deg);
  border-left: 3px solid @basic-extra-black;
  border-bottom: 3px solid @basic-extra-black;
  position: absolute;
}

input[type="checkbox"]:active + .form__field::after {
  opacity: 0.3;
}

//Форма ФИО
.form__fieldset--name {
  margin-top: 20px;
  padding-bottom: 5px;

  .form__field {
    display: flex;
    align-items: center;
  }

  .form__item {
    margin-bottom: 20px;
  }

  .form__data {
    margin-left: 15px;
  }

  .form__field:last-child {
    margin-bottom: 0;
  }
}

//Форма контактов
.form__fieldset--contacts {
  .form__field {
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 8px;
  }

  .form__contact {
    position: relative;
  }

  .form__email {
    position: absolute;
    right: 0;
    top: 39px;
    display: block;
    width: 58px;
    height: 57px;
    background-color: @special-contact-gray;
    cursor: pointer;
    border: none;

    &:active {
      outline: none;
    }
  }

  .form__tel {
    position: absolute;
    right: 0;
    top: 39px;
    display: block;
    width: 58px;
    height: 57px;
    background-color: @special-contact-gray;
    cursor: pointer;
    border: none;

    &:active {
      outline: none;
    }
  }

  .form__email .form__icon {
    position: absolute;
    top: 19px;
    left: 21px;
  }

  .form__tel .form__icon {
    position: absolute;
    top: 19px;
    left: 21px;
  }

  .form__data {
    margin-bottom: 9px;
  }
}

//Форма впечатлений
.form__fieldset--impressions {
  .form__field {
    padding-left: 75px;
  }

  .form__item {
    margin-bottom: 3px;
  }
}

//Форма достопримечательностей
.form__fieldset--sights {
  .form__field {
    padding-left: 76px;
  }

  .form__item {
    margin-bottom: 14px;
  }

  .form__item:last-child {
    margin-bottom: 39px;
  }
}

//Форма с обратной связью
.form__fieldset--review {
  .form__field {
    width: 100%;
    min-height: 160px;
  }

  .form__title {
    text-align: center;
  }
}

.form__contacts {
  margin-top: 20px;
  padding-bottom: 18px;
}

.form__impressions {
  margin-top: 20px;
  padding-bottom: 38px;
}

.form__sights {
  margin-top: 15px;
  padding-bottom: 0;
}

.form__review {
  margin-top: 19px;
  padding-bottom: 44px;
}

.form__name .form__title {
  padding-bottom: 19px;
}

.form__contacts .form__title {
  padding-bottom: 11px;
}

.form__review .form__title {
  padding-bottom: 15px;
}

.form__required {
  .reset ();
}

.form__container {
  margin-bottom: 48px;
}

//Отправка формы
.form__button {
  .button ();
  display: block;
  width: 280px;
  margin: 0 auto;
  padding-top: 19px;
  padding-bottom: 14px;
  border: none;

  &:hover,
  &:focus {
    background-color: @basic-blue;
  }

  &:active {
    background-color: @basic-dark-blue;
    color: rgba(255, 255, 255, 0.3);
    outline: none;
  }
}

@media (min-width: @tablet-width) {
  .form {
    flex-direction: row;
    padding-left: 60px;
    padding-right: 60px;
  }

  .response__form {
    border-top: none;
  }

  .form__fieldset {
    display: flex;
    align-items: center;
    border-bottom: none;
    padding-right: 0;
    padding-left: 0;
    //outline: 5px solid rgba(255, 0, 0, 0.8)
  }

  .form__title {
    display: flex;
    align-items: center;
    font-size: 21px;
  }

  //ФИО
  .form__fieldset--name {
    margin-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 292px;
      top: 0;
      right: 384px;
      background-color: @special-gray;
    }

    .form__title {
      padding-bottom: 56px;
      padding-left: 0;
      text-align: left;
    }

    .form__item {
      margin-bottom: 20px;
    }

    .form__data {
      margin-left: 15px;
    }
  }

  //Контакты
  .form__fieldset--contacts {
    .form__title {
      text-align: center;
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 14px;

      &::before,
      &::after {
        display: block;
        content: "";
        width: 123px;
        height: 1px;
        background-color: @special-gray;
      }

      &::before {
        margin-right: 60px;
      }

      &::after {
        margin-left: 62px;
      }
    }

    .form__data {
      width: 100%;
      margin-bottom: 18px;
    }
  }

  //Впечатления
  .form__fieldset--impressions {
    .form__title {
      padding-bottom: 34px;
      text-align: left;
      padding-left: 0;
    }

    .form__item {
      margin-bottom: 13px;
    }

    .form__field {
      padding-left: 73px;
    }
  }

  //Достопримечательности
  .form__fieldset--sights {
    .form__title {
      padding-bottom: 22px;
      padding-right: 0;
      padding-left: 0;

      &::before,
      &::after {
        display: block;
        content: "";
        width: 123px;
        height: 1px;
        background-color: @special-gray;
      }
    }

    .form__list {
      display: grid;
      grid-template-columns: 260px 260px;
      margin-left: 94px;
      margin-right: 20px;
    }

    .form__item {
      margin-bottom: 23px;
    }
  }

  //Обратная связь
  .form__fieldset--review {
    .form__title {
      padding-bottom: 57px;
      padding-right: 0;
      padding-left: 0;

      &::before,
      &::after {
        display: block;
        content: "";
        width: 123px;
        height: 1px;
        background-color: @special-gray;
      }

      &::before {
        margin-right: 73px;
      }

      &::after {
        margin-left: 74px;
      }
    }

    textarea {
      padding-top: 16px;
      padding-bottom: 24px;
      padding-left: 21px;
      padding-right: 21px;
    }
  }

  .form__name {
    width: 266px;
    margin-bottom: 30px;
    margin-left: 55px;
  }

  .form__contacts {
    width: 100%;
    margin-top: 22px;
    margin-bottom: 17px;
    padding-bottom: 0;
  }

  .form__impressions {
    width: 327px;
    order: -1;
    margin-top: 0;
    padding-bottom: 0;
  }

  .form__sights {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 25px;
  }

  .form__review {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 54px;
    padding-bottom: 0;
  }

  .form__required {
    margin-left: 164px;
    margin-top: 20px;
  }

  .form__container {
    display: flex;
    margin-bottom: 61px;
  }

  .form__button {
    width: 324px;
  }
}
//DESKTOP-------------------------------------------DESKTOP
@media (min-width: @desktop-width) {
  .form {
    padding-left: 120px;
    padding-right: 120px;
  }

  //ФИО
  .form__fieldset--name {
    &::before {
      right: 600px;
    }

    .form__title {
      padding-bottom: 55px;
      padding-left: 0;
    }
  }

  //Контакты
  .form__fieldset--contacts {
    .form__title {
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0;
      margin-bottom: 73px;

      &::before,
      &::after {
        display: block;
        content: "";
        width: 280px;
        height: 1px;
        background-color: @special-gray;
      }

      &::before {
        margin-right: 60px;
      }

      &::after {
        margin-left: 62px;
      }
    }

    .form__field {
      padding-bottom: 0;
      padding-left: 0;
      margin-right: 10px;
    }

    .form__item {
      display: inline;
    }

    li:last-child {
      margin-left: 82px;
    }

    .form__data {
      width: 316px;
    }

    .form__email {
      position: absolute;
      right: 0;
      top: -22px;
    }

    .form__tel {
      position: absolute;
      right: 0;
      top: -22px;
    }
  }

  //Впечатления
  .form__fieldset--impressions {
    .form__title {
      text-align: center;
      padding-right: 44px;
      padding-bottom: 35px;
      padding-left: 0;
    }

    .form__field {
      padding-left: 77px;
    }
  }

  //Достопримечательности
  .form__fieldset--sights {
    .form__title {
      margin-bottom: 23px;
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0;

      &::before,
      &::after {
        display: block;
        content: "";
        width: 290px;
        height: 1px;
        background-color: @special-gray;
      }
    }

    .form__list {
      width: 960px;
      display: flex;
      justify-content: space-between;
      margin-left: 0;
      margin-right: 0;
    }

    input[type="checkbox"] + .form__field::before {
      border-radius: 0;
    }
  }

  //Отзыв
  .form__fieldset--review {
    .form__title {
      padding-right: 0;
      padding-left: 0;
      padding-bottom: 54px;

      &::before,
      &::after {
        display: block;
        content: "";
        width: 279px;
        height: 1px;
        background-color: @special-gray;
      }

      &::before {
        margin-right: 74px;
      }

      &::after {
        margin-left: 76px;
      }
    }

    textarea {
      padding-top: 20px;
    }
  }

  .form__name {
    width: 400px;
    margin-left: 84px;
    margin-bottom: 28px;
  }

  .form__contacts {
    margin-bottom: 16px;
  }

  .form__impressions {
    width: 476px;
    order: -1;
    padding-right: 0;
  }

  .form__sights {
    width: 275px;
    margin-top: 15px;
    margin-bottom: 23px;
  }

  .form__contact span {
    display: none;
  }

  .form__required {
    margin-left: 320px;
  }

  .form__review {
    margin-bottom: 58px;
  }

  .form__button {
    width: 480px;
  }

  .form__container {
    margin-bottom: 67px;
  }
}

@media (max-width: @mobile-width-only) {
  .form__required {
    display: none;
  }
}

.form__data,
.form__field {
  font-size: 18px;
  font-weight: 700;
  color: @basic-extra-black;
  text-transform: none;
}

.form__field--font-norm {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
