.gallery {
  border-top: 1px solid @photo-border-gray;
}

.gallery__item {
  text-align: left;
  margin-top: 22px;
  padding-bottom: 15px;
}

@media (min-width: @tablet-width) {
  .gallery {
    border-top: none;
  }

  .gallery__item {
    width: 50%;
  }

  .gallery__item--first {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .gallery {
    border-top: none;
  }

  .gallery__item {
    width: 400px;
  }
}

.gallery__title {
  .reset ();
  font-weight: 700;
  font-size: 14px;
  color: @basic-black;
}

.gallery__author {
  .reset ();
  text-transform: none;
}

.gallery__likes {
  .reset ();
  font-weight: 700;
}
