.info-city__title {
  .reset ();
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: @basic-black;
  padding-top: 32px;
  padding-bottom: 27px;
}

.info-city__description {
  margin: 0;
  padding-bottom: 43px;
  text-align: center;
  color: @basic-extra-black;
}
