.main-nav__list {
  .reset ();
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  font-weight: 700;
  list-style: none;
  color: @basic-white;
  background-color: @basic-light-blue;
}

.main-nav__list a {
  color: @basic-white;
}
