.map {
  .reset ();
  margin-bottom: 10px;
}

@media (min-width: @tablet-width) {
  .map {
    margin-bottom: 0;
  }

  .map picture {
    display: flex;
  }

  .map img {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .map img {
    width: 1200px;
  }
}
