.promo {
  background-color: @special-coll-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.promo__picture {
  .reset ();
  min-height: 158px;
}
