.promo-video {
  text-align: center;
  margin-bottom: 49px;
}

.promo-video__title {
  .reset ();
  font-size: 18px;
  font-weight: 700;
  color: @basic-black;
}

.promo-video__description {
  .reset ();
  margin-bottom: 33px;
}
