.response__title {
  .reset ();
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  color: @basic-black;
  padding-top: 27px;
  padding-bottom: 27px;
}

.response__description {
  margin: 0;
  text-align: center;
  color: @basic-extra-black;
  padding-bottom: 24px;
}
