.site-list__item a {
  display: block;
  color: @basic-white;
  background-color: @basic-light-blue;
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 10px;
  padding-bottom: 5px;

  &:hover,
  &:focus {
    background-color: @basic-blue;
  }

  &:active {
    background-color: @basic-dark-blue;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .site-list__item a {
    font-size: 14px;
    line-height: 26px;
    color: @basic-black;
    background-color: @basic-white;
    min-width: 153px;
    padding-top: 16px;
    padding-bottom: 14px;
    border-bottom: none;
    border-top: none;

    &:hover,
    &:focus {
      background-color: @basic-white;
      color: @basic-light-blue;
    }

    &:active {
      background-color: @basic-white;
      color: @basic-black;
      opacity: 0.3;
    }
  }

  .site-list__item--active a {
    color: @basic-light-brown;

    &:hover,
    &:focus {
      color: @basic-brown;
    }

    &:active {
      color: @basic-light-brown;
      opacity: 0.3;
    }
  }

  .site-list li:nth-child(3) {
    margin-left: auto;
  }
}

@media (min-width: @desktop-width) {
  .site-list__item a {
    min-width: 239px;
  }
}
