.social__list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  width: 46px;
  height: 48px;
  text-align: center;
}

.social__item {
  background-color: @basic-light-blue;
}
