.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-width: 320px;
  background-color: @special-coll-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  padding-top: 90px;
  padding-bottom: 77px;
}

@media (min-width: @tablet-width) {
  .welcome {
    padding-top: 77px;
    padding-bottom: 91px;
  }
}

@media (min-width: @desktop-width) {
  .welcome {
    padding-top: 78px;
    padding-bottom: 90px;
  }
}

.welcome__picture {
  padding-bottom: 0;
  margin: 0;
}
