
@basic-black: #000000;
@basic-white: #FFFFFF;
@basic-light-blue: #81B3D2;
@basic-extra-black: #333333;
@special-coll-blue: #E6F3FA;
@basic-natural: #EEEEEE;
@special-border-gray: #D6D6D6;
@photo-border-gray: #E5E5E5;

@tablet-width: 768px;
@desktop-width: 1200px;
@mobile-width-only: 767px;
